$top: 3;
$ots: 7%;
%mont {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.01em;
}
%lato {
  font-family: "Lato";
  font-style: normal;
}
header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  .under-menu {
    background-color: white;
    @extend %mont;
    display: flex;
    align-items: center;
    justify-content: space-between;
    * {
      display: flex;
      align-items: center;
    }
    #city {
      margin-left: 7%;
      position: relative;
      width: auto;
    }
    .city-down {
      margin-left: 2px;
      margin-top: 3px;
      position: relative;
      width: 10px;
    }
    .help {
      position: relative;
      display: flex;
      justify-content: space-between;
      width: 400px;
    }
    .help:first-child {
      margin-left: 15%;
    }
    .tel-number {
      position: relative;
      margin-right: 7%;
      .num__icon-phone {
        width: 15px;
        height: auto;
        display: none;
      }
      img {
        width: 23px;
        height: 21px;
      }
      .num-down {
        margin-left: 2px;
        margin-top: 0px;
        position: relative;
        width: 10px;
        height: 10px;
      }
    }
  }
  .info {
    display: none;
  }
  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    background-color: rgba(231, 230, 231, 1);
    * {
      display: flex;
    }
    .logo {
      align-items: center;
      margin-left: 7%;
      .logo__text {
        width: 165px;
        margin-left: 10px;
        margin-top: 10px;
      }
      .logo__img {
        width: 60px;
      }
      p {
        font-family: "Comfortaa";
        font-style: normal;
        font-weight: 400;
        font-size: 45px;
        letter-spacing: -0.05em;
        color: #23b132;
        padding-bottom: -1000px;
        border-bottom: 1px solid #23b132;
      }
    }
    #catalog {
      background-color: #19a227;
      border-radius: 12px;
      display: flex;
      align-items: center;
      color: #ffffff;
      width: 174px;
      height: 43px;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 300;
      font-size: 26px;
      letter-spacing: 0.01em;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      p {
        margin-left: 10%;
      }
      img {
        width: 22px;
        height: 20px;
        margin-top: -1px;
        margin-left: 5%;
        filter: invert(1);
      }
    }
    .search {
      display: flex;
      align-items: center;
      width: 28%;
      height: 43px;
      background-color: white;
      border-radius: 15px;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

      img {
        margin: 10px;
        width: 20px;
      }
      input {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
        outline: none;
        height: 43px;
        width: 100%;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
      }
    }
    .menu-buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      img {
        width: 40px;
      }
    }
    #amount {
      @extend %lato;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      margin-left: 0px;
    }
    .buttons {
      margin-right: 7%;
      width: 24%;
      align-items: center;
      justify-content: space-between;
      display: flex;
    }
    .menu__price {
      display: flex;
      align-items: center;
      margin-left: 3px;
      @extend %lato;
      font-weight: 600;
      line-height: 31px;
      #rub {
        font-size: 23px;
      }
      .t {
        font-size: 18px;
      }
      #kop {
        font-size: 18px;
      }
      .rub {
        font-size: 20px;
        font-family: "Open Sans";
        margin-left: 3px;
        margin-top: -3px;
      }
      img {
        margin-left: 2px;
        margin-top: -3px;
        position: relative;
        width: 12.85px;
        height: 12.45px;
      }
    }
    .busket-icon {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      * {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      img {
        width: 40px;
      }
      #amount {
        position: relative;
        color: #23b132;
        top: -43px;
        margin-bottom: -25px;
      }
    }
  }
  .menu__bottom {
    width: 100%;
    display: none;
    align-items: center;
    position: fixed;
    bottom: 0;
    z-index: 1000;
    p {
      width: 100%;
      text-align: center;
      height: 40px;
      border: 1px solid rgba(35, 31, 32, 0.11);
      background-color: white;
      line-height: 40px;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
    }
  }
  .menu__bottom-info {
    display: none;
  }
  @media (max-width: 1250px) {
    .menu {
      .menu__price {
        display: none;
      }
    }
  }
  @media (max-width: 1200px) {
    .menu #catalog {
      width: 43px;
      justify-content: center;
      p {
        display: none;
      }
      img {
        margin-left: 0;
      }
    }
  }
  @media (max-width: 900px) {
    .under-menu .help {
      width: 300px;
    }
    .menu {
      .buttons {
        display: none;
      }
      .search {
        margin-right: $ots;
        width: 50%;
      }
    }
    .menu__bottom {
      display: flex;
    }
  }
  @media (max-width: 800px) {
    .menu {
      .logo__text {
        display: none;
      }
    }
    .menu .search {
      width: 70%;
    }
  }
  @media (max-width: 700px) {
    .under-menu {
      #city {
        margin-left: 2%;
      }
      .tel-number {
        margin-right: 2%;
      }
      .help {
        display: none;
      }
    }
    .menu {
      .logo {
        margin-left: 2%;
      }
      .search {
        margin-right: 2%;
      }
    }
    .menu__bottom .menu__bottom-info {
      display: block;
    }
  }
  @media (max-width: 450px) {
    .menu .search {
      width: 58%;
    }
    .menu__bottom {
      height: 30px;
      p {
        font-size: 10px;
      }
    }
  }
}
