body {
  user-select: none;
}

body a:active,
body a:hover,
body a:visited,
body a {
  text-decoration: none;
  color: black;
}

.main-body .novelties .stringNovel, .main-body .hits .string-hits {
  padding-bottom: 30px;
  margin-left: 7%;
  display: flex;
  align-items: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  letter-spacing: 0.01em;
}

.main-body {
  overflow: hidden;
  padding-top: 102px;
}

.main-body a:link {
  text-decoration: none;
}

.main-body a:visited {
  text-decoration: none;
}

.main-body a:active {
  text-decoration: none;
}

.main-body a:hover {
  text-decoration: none;
}

.main-body .slogan {
  margin-top: 40px;
  margin-left: 7%;
  margin-right: 7%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  display: flex;
  align-items: center;
}

.main-body .slogan span {
  color: #23b132;
}

.main-body .slogan .little {
  margin-top: 10px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

.main-body .slogan img {
  width: 700px;
}

.main-body .slogan button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: white;
  width: 180px;
  height: 40px;
  background: #23b132;
  border-radius: 32.8467px;
  padding: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-top: 135px;
}

.main-body .slogan button:hover {
  cursor: pointer;
}

.main-body .slogan button img {
  width: 20px;
  filter: invert(1);
}

.main-body .pop-categories {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 7%;
  margin-right: 7%;
}

.main-body .pop-categories h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 30px;
}

.main-body .pop-categories .pop-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-body .pop-categories .pop {
  background: #e7e6e6;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin: 2px;
  border-radius: 5px;
  height: 150px;
  width: 18%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-width: 150px;
}

.main-body .pop-categories .pop:hover {
  cursor: pointer;
}

.main-body .pop-categories .pop img {
  width: 120px;
  height: 110px;
}

.main-body .pop-categories .pop p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
  margin-top: 10px;
  text-align: center;
}

@media (max-width: 1000px) {
  .main-body .pop-categories .pop p {
    font-size: calc( 10px + 17 * ((100vw - 320px) / 1920));
  }
}

@media (min-width: 1000px) {
  .main-body .pop-categories .pop p {
    font-size: calc(10px + 10 * (100vw / 1920));
  }
}

.main-body .main-good {
  background: #ffffff;
  border-radius: 15px;
  border: 3px solid rgba(35, 31, 32, 0.11);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  width: 200px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 320px;
  padding: 12px;
}

.main-body .main-good:hover {
  cursor: pointer;
}

.main-body .main-good *:hover {
  cursor: pointer;
}

.main-body .main-good .name {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: 0.01em;
  margin-top: 10px;
}

.main-body .main-good .sale {
  position: relative;
  background: #23b132;
  border-radius: 5px;
  width: 34px;
  height: 17px;
  color: white;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  text-align: center;
  font-size: 11px;
  line-height: 17px;
  letter-spacing: 0.01em;
  z-index: 10;
}

.main-body .main-good img {
  position: relative;
  margin-top: -20px;
  width: 180px;
  height: 180px;
  z-index: 1;
}

.main-body .main-good .mark {
  display: flex;
  align-items: center;
  color: #ffc107;
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.01em;
}

.main-body .main-good .mark img {
  width: 13px;
  height: auto;
  margin-right: 2px;
  margin-top: 0;
}

.main-body .main-good .price {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.main-body .main-good .price .main-price {
  display: flex;
  align-items: center;
}

.main-body .main-good .price .main-price .literal-rub {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 15px;
}

.main-body .main-good .price .main-price .literal-cop {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
}

.main-body .main-good .price .before-price {
  display: flex;
  align-items: center;
  margin-left: 5px;
  color: #8f8f8f;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  text-decoration: line-through;
}

.main-body .main-good .price .minus-price {
  font-family: "Montserrat";
  margin-left: 5px;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  color: #23b132;
  margin-right: -5px;
}

.main-body .main-good .good-buttons {
  display: flex;
  align-items: center;
}

.main-body .main-good .good-buttons button {
  width: 170px;
  height: 30px;
  background: #23b132;
  border-radius: 7px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.01em;
  color: #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.main-body .main-good .good-buttons div {
  padding: 5px;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  border-radius: 5px;
  border: #23b132 solid 1px;
}

.main-body .main-good .good-buttons .click {
  margin: 0;
  width: 20px;
  height: auto;
}

.main-body .main-good .good-info {
  display: flex;
  position: relative;
  z-index: 10;
  align-items: center;
  justify-content: space-between;
  margin-top: -10px;
}

.main-body .main-good .good-info p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
}

.main-body .all-hits {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 7%;
  width: 86%;
}

.main-body .good__string-new {
  display: none;
  height: 5px;
  width: 100%;
}

.main-body .novelties {
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 7%;
  margin-right: 7%;
}

.main-body .novelties .stringNovel {
  font-size: 32px;
  margin: 0;
}

.main-body .novelties .offers {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
}

.main-body .novelties .offers .slide-left {
  position: relative;
  left: 4.7%;
  width: 26px;
}

.main-body .novelties .offers .first-offer {
  width: 50%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.main-body .novelties .offers .second-offer {
  width: 530px;
}

.main-body .novelties .offers .slide-right {
  position: relative;
  left: -6.5%;
  width: 26px;
  transform: rotate(180deg);
}

.main-body .novelties .offers .best {
  margin: 0 0 0 18%;
  width: 15%;
}

.main-body .novelties .nov {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

.main-body .other {
  background: rgba(35, 31, 32, 0.11);
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 7% 30px 7%;
}

.main-body .other p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 0.01em;
  margin-bottom: 30px;
}

.main-body .other div {
  margin: 0 5px 0 5px;
  width: 100%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.main-body .other div *:hover {
  cursor: pointer;
}

.main-body .other img {
  width: 100%;
}

@media (max-width: 1300px) {
  .main-body .main-good {
    width: 16%;
    border: 1px solid rgba(35, 31, 32, 0.11);
  }
}

@media (max-width: 1300px) and (max-width: 1000px) {
  .main-body .main-good .name {
    font-size: calc( 8px + 20.4 * ((100vw - 320px) / 1920));
  }
}

@media (max-width: 1300px) and (min-width: 1000px) {
  .main-body .main-good .name {
    font-size: calc(8px + 12 * (100vw / 1920));
  }
}

@media (max-width: 1300px) {
  .main-body .main-good img {
    width: 100%;
    height: 144.29px;
  }
}

@media (max-width: 1200px) {
  .main-body .slogan .main-image {
    width: 60%;
    margin-top: 0px;
  }
  .main-body .slogan button {
    margin-top: 50px;
  }
  .main-body .main-good {
    height: 290px;
  }
}

@media (max-width: 1100px) {
  .main-body .pop-categories .pop {
    width: 120px;
    min-width: 120px;
    height: 110px;
  }
  .main-body .pop-categories .pop img {
    width: 80px;
    margin-top: 0;
  }
  .main-body .pop-categories .pop p {
    margin-top: 0px;
  }
}

@media (max-width: 1100px) and (max-width: 1000px) {
  .main-body .main-good .price .main-price .literal-rub {
    font-size: calc( 6px + 22.1 * ((100vw - 320px) / 1920));
  }
}

@media (max-width: 1100px) and (min-width: 1000px) {
  .main-body .main-good .price .main-price .literal-rub {
    font-size: calc(6px + 13 * (100vw / 1920));
  }
}

@media (max-width: 1100px) and (max-width: 1000px) {
  .main-body .main-good .price .main-price .literal-cop {
    font-size: calc( 4px + 18.7 * ((100vw - 320px) / 1920));
  }
}

@media (max-width: 1100px) and (min-width: 1000px) {
  .main-body .main-good .price .main-price .literal-cop {
    font-size: calc(4px + 11 * (100vw / 1920));
  }
}

@media (max-width: 1100px) and (max-width: 1000px) {
  .main-body .main-good .price .before-price {
    font-size: calc( 5px + 18.7 * ((100vw - 320px) / 1920));
  }
}

@media (max-width: 1100px) and (min-width: 1000px) {
  .main-body .main-good .price .before-price {
    font-size: calc(5px + 11 * (100vw / 1920));
  }
}

@media (max-width: 1100px) and (max-width: 1000px) {
  .main-body .main-good .price .minus-price {
    font-size: calc( 2px + 28.9 * ((100vw - 320px) / 1920));
  }
}

@media (max-width: 1100px) and (min-width: 1000px) {
  .main-body .main-good .price .minus-price {
    font-size: calc(2px + 17 * (100vw / 1920));
  }
}

.main-body .hits {
  background: rgba(35, 31, 32, 0.11);
  padding-top: 10px;
  padding-bottom: 25px;
}

.main-body .hits #href {
  margin-top: -102px;
  margin-bottom: 102px;
}

@media (max-width: 1000px) {
  .main-body .hits .string-hits {
    font-size: calc( 14px + 18.7 * ((100vw - 320px) / 1920));
  }
}

@media (min-width: 1000px) {
  .main-body .hits .string-hits {
    font-size: calc(14px + 11 * (100vw / 1920));
  }
}

.main-body .hits .string-hits img {
  margin: 3px;
  width: 30px;
}

@media (max-width: 1000px) and (max-width: 1000px) {
  .main-body .novelties .stringNovel {
    font-size: calc( 23px + 20.4 * ((100vw - 320px) / 1920));
  }
}

@media (max-width: 1000px) and (min-width: 1000px) {
  .main-body .novelties .stringNovel {
    font-size: calc(23px + 12 * (100vw / 1920));
  }
}

@media (max-width: 1000px) and (max-width: 1000px) {
  .main-body .other p {
    font-size: calc( 23px + 20.4 * ((100vw - 320px) / 1920));
  }
}

@media (max-width: 1000px) and (min-width: 1000px) {
  .main-body .other p {
    font-size: calc(23px + 12 * (100vw / 1920));
  }
}

@media (max-width: 1000px) {
  .main-body .slogan .main-image {
    display: none;
  }
  .main-body .main-good {
    padding: 6px;
    height: 250px;
  }
  .main-body .main-good .name {
    margin-top: 2px;
  }
  .main-body .main-good img {
    max-height: 100px;
  }
  .main-body .main-good .good-info img {
    width: 10px;
  }
}

@media (max-width: 1000px) and (max-width: 1000px) {
  .main-body .main-good .good-info p {
    font-size: calc( 6px + 13.6 * ((100vw - 320px) / 1920));
  }
}

@media (max-width: 1000px) and (min-width: 1000px) {
  .main-body .main-good .good-info p {
    font-size: calc(6px + 8 * (100vw / 1920));
  }
}

@media (max-width: 1000px) {
  .main-body .main-good .price {
    margin-top: 2px;
    margin-bottom: 2px;
  }
}

@media (max-width: 1000px) and (max-width: 1000px) {
  .main-body .main-good .good-buttons button {
    font-size: calc( 5px + 17 * ((100vw - 320px) / 1920));
  }
}

@media (max-width: 1000px) and (min-width: 1000px) {
  .main-body .main-good .good-buttons button {
    font-size: calc(5px + 10 * (100vw / 1920));
  }
}

@media (max-width: 900px) and (max-width: 1000px) {
  .main-body .slogan div p {
    font-size: calc( 30px + 68 * ((100vw - 320px) / 1920));
  }
}

@media (max-width: 900px) and (min-width: 1000px) {
  .main-body .slogan div p {
    font-size: calc(30px + 40 * (100vw / 1920));
  }
}

@media (max-width: 900px) and (max-width: 1000px) {
  .main-body .slogan div .little {
    font-size: calc( 16px + 23.8 * ((100vw - 320px) / 1920));
  }
}

@media (max-width: 900px) and (min-width: 1000px) {
  .main-body .slogan div .little {
    font-size: calc(16px + 14 * (100vw / 1920));
  }
}

@media (max-width: 900px) {
  .main-body .slogan div button p {
    font-size: 20px;
  }
  .main-body .slogan .main-image {
    display: none;
  }
  .main-body .other {
    flex-wrap: wrap;
  }
  .main-body .main-good {
    height: 220px;
  }
  .main-body .main-good .good-buttons button {
    height: 20px;
  }
  .main-body .main-good .good-buttons div {
    height: 20px;
    width: 20px;
    padding: 1px;
  }
  .main-body .main-good .good-buttons div .click {
    width: 18px;
  }
}

@media (max-width: 700px) {
  .main-body .hits .string-hits {
    margin-left: 2%;
    margin-right: 2%;
  }
  .main-body .other {
    padding: 5px 2% 5px 2%;
  }
  .main-body .other p {
    margin-bottom: 5px;
  }
  .main-body .novelties {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .main-body .novelties .nov {
    margin-top: 5px;
  }
  .main-body .novelties .stringNovel {
    padding-bottom: 5px;
  }
  .main-body .main-good {
    height: 200px;
  }
  .main-body .main-good .sale {
    width: 25px;
    height: 15px;
    font-size: 9px;
  }
  .main-body .all-hits {
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
  }
  .main-body .slogan {
    margin-left: 2%;
    margin-right: 2%;
  }
  .main-body .pop-categories {
    margin-left: 2%;
    margin-right: 2%;
  }
}

@media (max-width: 700px) and (max-width: 1000px) {
  .main-body .pop-categories h1 {
    font-size: calc( 20px + 51 * ((100vw - 320px) / 1920));
  }
}

@media (max-width: 700px) and (min-width: 1000px) {
  .main-body .pop-categories h1 {
    font-size: calc(20px + 30 * (100vw / 1920));
  }
}

@media (max-width: 700px) {
  .main-body .pop-categories .pop {
    height: 80px;
    width: 100px;
    min-width: 100px;
    min-width: auto;
  }
  .main-body .pop-categories .pop img {
    width: 60px;
  }
  .main-body .pop-categories .pop p {
    line-height: 16px;
  }
  .main-body .hits {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .main-body .hits .string-hits {
    padding-top: 0;
    padding-bottom: 5px;
  }
  .main-body .hits .string-hits img {
    width: 20px;
  }
}

@media (max-width: 600px) {
  .main-body .nov {
    flex-wrap: wrap;
    margin-right: 0;
  }
  .main-body .novelties .offers .first-offer {
    width: 80%;
  }
  .main-body .novelties .offers .best {
    margin: 0;
    width: 20%;
  }
  .main-body .good__string-new {
    display: block;
  }
  .main-body .main-good {
    width: 33%;
    height: 290px;
  }
}

@media (max-width: 600px) and (max-width: 1000px) {
  .main-body .main-good .good-buttons button {
    font-size: calc( 8px + 28.9 * ((100vw - 320px) / 1920));
  }
}

@media (max-width: 600px) and (min-width: 1000px) {
  .main-body .main-good .good-buttons button {
    font-size: calc(8px + 17 * (100vw / 1920));
  }
}

@media (max-width: 600px) {
  .main-body .main-good img {
    max-height: 190px;
  }
}

@media (max-width: 600px) and (max-width: 1000px) {
  .main-body .main-good .name {
    font-size: calc( 10px + 30.6 * ((100vw - 320px) / 1920));
  }
}

@media (max-width: 600px) and (min-width: 1000px) {
  .main-body .main-good .name {
    font-size: calc(10px + 18 * (100vw / 1920));
  }
}

@media (max-width: 600px) {
  .main-body .main-good .good-info img {
    width: 12px;
  }
}

@media (max-width: 600px) and (max-width: 1000px) {
  .main-body .main-good .good-info p {
    font-size: calc( 8px + 20.4 * ((100vw - 320px) / 1920));
  }
}

@media (max-width: 600px) and (min-width: 1000px) {
  .main-body .main-good .good-info p {
    font-size: calc(8px + 12 * (100vw / 1920));
  }
}

@media (max-width: 600px) and (max-width: 1000px) {
  .main-body .main-good .price .main-price .literal-rub {
    font-size: calc( 10px + 34 * ((100vw - 320px) / 1920));
  }
}

@media (max-width: 600px) and (min-width: 1000px) {
  .main-body .main-good .price .main-price .literal-rub {
    font-size: calc(10px + 20 * (100vw / 1920));
  }
}

@media (max-width: 600px) and (max-width: 1000px) {
  .main-body .main-good .price .main-price .literal-cop {
    font-size: calc( 7px + 30.6 * ((100vw - 320px) / 1920));
  }
}

@media (max-width: 600px) and (min-width: 1000px) {
  .main-body .main-good .price .main-price .literal-cop {
    font-size: calc(7px + 18 * (100vw / 1920));
  }
}

@media (max-width: 600px) and (max-width: 1000px) {
  .main-body .main-good .price .before-price {
    font-size: calc( 8px + 30.6 * ((100vw - 320px) / 1920));
  }
}

@media (max-width: 600px) and (min-width: 1000px) {
  .main-body .main-good .price .before-price {
    font-size: calc(8px + 18 * (100vw / 1920));
  }
}

@media (max-width: 600px) {
  .main-body .main-good .price .minus-price {
    margin-right: -5px;
  }
}

@media (max-width: 600px) and (max-width: 1000px) {
  .main-body .main-good .price .minus-price {
    font-size: calc( 9px + 27.2 * ((100vw - 320px) / 1920));
  }
}

@media (max-width: 600px) and (min-width: 1000px) {
  .main-body .main-good .price .minus-price {
    font-size: calc(9px + 16 * (100vw / 1920));
  }
}

@media (max-width: 500px) {
  .main-body .main-good {
    height: 230px;
  }
}

@media (max-width: 400px) {
  .main-body .slogan {
    margin-top: 5px;
  }
  .main-body .slogan div button {
    margin-top: 5px;
    width: 120px;
    height: 30px;
  }
  .main-body .slogan div button p {
    font-size: 12px;
  }
  .main-body .slogan div button img {
    width: 20px;
  }
  .main-body .novelties .offers .first-offer {
    width: 100%;
  }
  .main-body .novelties .offers .best {
    display: none;
  }
  .main-body .pop-categories .pop {
    height: 70px;
  }
  .main-body .pop-categories .pop img {
    width: 50px;
  }
  .main-body .pop-categories .pop:last-child {
    display: none;
  }
}
